{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <main class="main-section">
    <div>
        <img src="{{ user.profile.avatar.url }} " style="cursor: pointer; width: 200px; height: 200px;"/>
    </div>
    <div class="buttons-profile-header">
        <a href="{% url 'orders:order_list' %}" class="my-orders-button">Мои заказы</a>
    </div>
    {% if user_form.errors %}
        <div role="alert">
            <div>
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div>
                    <div>
                        <label>Никнейм:</label>
                        {{ user_form.username }}
                        <hr>
                        <label>Почта:</label>
                        {{ user_form.email }}
                    </div>
                    <hr>
                    <div><a href="{% url 'password_change' %}">Изменить пароль</a>
                        <hr>
                        <label>Изменить аватар:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <hr>
                    <label>Номер телефона и адрес:</label> {{ profile_form.bio }}
                </div>
            </div>
            <br><br>
            <button type="submit" class="submit-profile">Сохранить изменения</button>
            <button type="reset" class="cancel-profile">Отмена</button>
        </form>
    </div>
    <p action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <p>
        <form action="{% url 'logout' %}" method="post">{% csrf_token %}
            <a href="#" class="nav-link" onclick="parentNode.submit();">Выйти из системы</a>
        </form>
    </p>
    </form>
    </main>

{% endblock content %}