{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="main-section">
    <section class="menu-section">
        <div class="menu-section-word">
            <p><b>{{category.name}}</b></p>
        </div>
    </section>
    <section class="promotions-items">
        <div class="promotions-cards-row">
            {% if dishes%}
            {%for dish in dishes%}
            <a href="#" class="menu-card">
                <img src="{{ dish.image.url}}"  alt={{dish.name}} class="menu-card-image">
                <span class="promotion-card-description">{{ dish.price }}₽ </span>
                <span class="menu-card-title">{{dish.name}}</span>
            </a>
            
            {% endfor %}
            {% else %}
            <p>На данный момент у нас нет позиций для этой категории :(</p>
            {% endif %}
        </div>
    </section>
</main>
    
{% endblock %}