{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="main-section">
    <h2>Условия доставки и самовызова</h2>
    <ol>
        <li>При подтверждении заказа, заведение должно убедиться к верности заказа позвонив вам на указанный вами номер телефона, в случаи отсутствия ответа на звонки заведения - заказ отменяется после 15 минут</li>
        <li>Заведение имеет право потребовать предоплату на нетипичные заказы в виде огромного количество выбранных позиций для избежания пустых затрат и вмешательства работы заведения</li>
        <li>Заказ (Самовызов) может быть отменен только за 15 или более минут до окончания приготовления, то есть для примера вы сделали самовызов в 13:30, то можете отменить заказ до 13:15 или раньше</li>
        Для доставка за 30 минут или раньше
        <li>Заведение имеет право отменить заказ в случаи превышение радиуса досягаемости доставки</li>
        <li>Если клиент не заберет заказ через 30 минут после еще завершение - заведение имеет право его утилизировать</li>
    </ol>


    </main>
{% endblock content %}