{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="main-section">
    <section class="menu-section">
        <div class="menu-section-word">
            <p><b>Мои заказы</b></p>
        </div>
    </section>

    <section class="cart-table">
        {% if orders %}
        <table class="table-cart-fix">
            <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Дата</th>
                    <th>Статус</th>
                    <th>Сумма</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>#{{ order.id }}</td>
                    <td>{{ order.created_at_samara }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>{{ order.total_price }}₽</td>
                    <td><a href="{% url 'orders:order_detail' order.id %}">Подробнее</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>У вас пока нет заказов.</p>
        {% endif %}
    </section>
</main>
{% endblock %}